<!DOCTYPE html>
<html lang="en-GB">

  <head>
      <link rel="stylesheet" type="text/css" href="style.css">
      <meta charset="utf-8">
      <meta name="description" 
            content="Accessible bus stop tracker">
      <meta name="author" content="Patrick Cartlidge, Roosa Tammela, Chris Swart">
      <meta name="viewport" value="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0">
      <title>ediBus - Flask backend</title>
      <link rel="stylesheet" href="static/style.css">
  </head>

  <body>

  </body>
  
</html>